<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>
<body>
  <h1>Drivers and Escorts</h1>
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Bus line</th>
          <th scope="col">Kids in bus</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Tomer</td>
          <td>Yechzkel</td>
          <td>0723730048</td>
          <td>11</td>
            <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown">On bus
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>Sofa Lerner</li>
              <li>Yom tov Semi</li>
              <li>Moshe Yahel</li>
              <li>Daniel Heletz</li>
              <li>Beni Natan</li>
              <li>Eshel Natan</li>
            </ul>
          </div>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Moshe</td>
          <td>Levi</td>
          <td>0502780696</td>
          <td>12</td>
          <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown">On bus
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>David Malchovski</li>
              <li>David Joffe</li>
              <li>Shalev alkaiam</li>
              <li>Esther Ben Mordechai</li>
              <li>Shani Kaliner</li>
              <li>Einav Levi</li>
            </ul>
          </div>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Michael</td>
          <td>Shaked</td>
          <td>0559792114</td>
          <td>13</td>
          <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown">On bus
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Haim</td>
          <td>Drori</td>
          <td>0546274211</td>
          <td>14</td>
          <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown">On bus
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            </ul>
          </div>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Yosi</td>
          <td>Shalom</td>
          <td>0546778901</td>
          <td>15</td>
          <div class="dropdown">
            <button class="btn" type="button" data-toggle="dropdown">On bus
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            </ul>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</body>