<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">The Authentic Gentleman</a>
    </div>
    <nav class="pull-right collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Advice</a>
        </li>
        <li class="#">
          <a href="#">About</a>
        </li>
      </ul>
    </nav>
</header>

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">The Authetnic Gentelman</h1>
    <h4 class="text-center">Refine your life</h4>
      <div class="text-center btnDiv">
     <a href="#about" class="btn btn-primary btn-xl">Find Out More</a>
 
  </div>
</div>
</div>

