<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">The Authentic Gentleman</a>
    </div>
    <nav class="pull-right collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Advice</a>
        </li>
        <li class="#">
          <a href="#">About</a>
        </li>
      </ul>
    </nav>
</header>

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">The Authetnic Gentelman</h1>
    <h4 class="text-center">Refine your life</h4>
      <div class="text-center btnDiv">
     <a href="#about" class="btn btn-primary btn-xl">Find Out More</a>
 
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="a in vm.exportAction">
        <a ng-if="a.visble == true">
          <span ng-click="vm.selectedExport(a)">logout</span>
        </a>
        <div ng-if="a.divider == true">
          <div role="separator" class="divider"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>