body {
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    background-color: whitesmoke;
}
h2 {
    color: darkblue;
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.submit{
    text-align: right;
}