<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <h2>טופס יצירת קשר</h2>
<div class="container">

  <form>
    <label for="fname">שם פרטי</label>
    <input type="text" id="fname" name="firstname" placeholder="שמך..">

    <label for="lname">שם משפחה</label>
    <input type="text" id="lname" name="lastname" placeholder="שם משפחתך..">

    <label for="area">אזור פעולה</label>
    <select id="area" name="area">
      <option value="north">אזור חיפה והצפון</option>
      <option value="telaviv">אזור תל אביב והמרכז</option>
      <option value="yosh">אזור יהודה ושומרון</option>
      <option value="jerusalem">אזור ירושלים</option>
      <option value="south">אזור הדרום</option>
    </select>

    <label for="subject">נושא</label>
    <textarea id="subject" name="subject" placeholder="כתוב/י משהו.." style="height:200px"></textarea>
    
    <button type="submit" class="btn-success" value="שלח" onclick="onSubmit()">שלח</button>
    
  </form>
</div>

</body>
