
button{
  margin: 20px;
  margin-left: 43vw;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

@media (min-width: 100px) and (max-width: 1000px) {
  #btn {
      margin-left: 30%;
      } 
  }

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-fluid{
  text-align: center;
}

ngui-map {
  height: 80%;
  display:block;
  margin-top: 3%;
  position: relative;
}

