

<button *ngIf="startf" class="btn btn-success" (click)="startFollow(); stopf = true; startf = false;">
  Start follow
</button>
<button *ngIf="stopf" class="btn btn-success" (click)="ngOnDestroy(); stopf = false; startf = true;">
  Stop follow
</button>

<!--
<button *ngIf="enableEdit">Save</button>  
//<button *ngIf="enableEdit" (click)="enableEdit=false">Cancel</button> --> 

<a routerLink="/mainpage"><button class="btn btn-danger pull-right" >Home page</button></a>

<ngui-map center="Jerusalem, Israel">
    <marker *ngFor="let m of markers" 
    [position]="{
      lat: m.lat,
      lng: m.lng,
      title: m.userId
    }"></marker>
</ngui-map>