.container{
    background-color: whitesmoke;
    margin-top: 7%;
    width: 100%;
    height:88vh;
}

.navbar{
    position: fixed;
}
.header.row.spacing{
    margin-top: 30px;
}
.btn{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid whitesmoke;
    font-weight: bold;
}
.navbar-collapse { 
    background-color: white !important; 
}

.navbar a {
    color: gray;
    font-weight: bold;
}

.navbar a:hover ,
    a:focus {
        color: forestgreen;
    
}

.navbar .navbar-nav {
    float: none;
    vertical-align: top;
    background-color: white;
  }
  
  

  .navbar .navbar-collapse {
    text-align: center;
  }

  .dropdown{
    position: relative;
  }

  .logo{
    margin-top: 0.5%;
    margin-right: 400px;
    font-size: 200%;
  }